@page "/"
@page "/login"
<PageTitle>Home</PageTitle>

<div>
    <form class="d-flex flex-column gap-3 login">
        <h2>Login</h2>
        <div>
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div>
            <label for="inputPassword5" class="form-label">Password</label>
            <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
        </div>
        <button class="btn btn-success">Iniciar sesion</button>
        <a href="/register">Registrarme</a>
    </form>
</div>