@page "/products"

<PageTitle>Productos</PageTitle>

<h1>Hello, world!</h1>
<div class="d-flex flex-wrap gap-5">
<ProductCard 
    Id="1" 
    Name="Luis" 
    Image="https://media.falabella.com/falabellaCO/147573839_01/w=200,h=200,fit=pad" 
    Price="4000" 
    Slug="luis" 
    Description="Productos" 
/>
</div>
